<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SevenZipFontModify.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <SevenZipFontModify.Properties.Settings>
            <setting name="BackupTo" serializeAs="String">
                <value>Backup</value>
            </setting>
            <setting name="Files" serializeAs="String">
                <value>%PROGRAMFILES%\7-Zip\7zFM.exe
%PROGRAMFILES%\7-Zip\7zG.exe
%PROGRAMFILES%\7-Zip\7z.sfx</value>
            </setting>
            <setting name="Target" serializeAs="String">
                <value>00 4D 00 53 00 20 00 53 00 68 00 65 00 6C 00 6C 00</value>
            </setting>
        </SevenZipFontModify.Properties.Settings>
    </userSettings>
</configuration>